<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WebsiteAddress" value="https://en.wikipedia.org/wiki/Microsoft"/>
		<add key="NumberOfResultsToReturn" value="10"/>
		<add key="WordsToExclude" value="the,of,to,and,a,in,for,with,on,On,In,was,as,that,its,it,an,by,which,The,from"/>
	</appSettings>
</configuration>